<h1>ユーザー一覧</h1>

<% if @users.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ログインID</th>
        <th scope="col">名前</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user do %><%= user.login_id %><% end %></td>
          <td><%= user.name %></td>
        <tr>
      <% end %>
    </tbody>
  </table>
<% end %>